{% extends 'app/index.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block banner %}

  <div class="carousel-inner" style="width:100%;height:100vh;">
    <div class="carousel-item active" >
        <img src="{% static 'app\images\banner\contact.png' %}" class="d-block w-100" alt="banner image">
    </div>
    
</div>
</div>


     
   {% endblock banner %}
{% block main-content %}
<div class="container mt-5">
  <h2>Contact Us</h2>
  <form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <textarea class="form-control" id="message" rows="3" name="message" required></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<br><br>
{% endblock main-content %}