{% extends 'app/index.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
<div calss="container ">
    <div class="row my-3">
       
        <div class="col-sm-6 offset-sm-3">
            {% csrf_token %}
            <h3 calss="alert-heading">Well Done..!</h3>
            <p>An Email has been sent with instruction to reset your password<br>Please check Email</b></P>
            </div>
            
        </div>
    </div>
    {% endblock main-content%}