{% extends 'app/index.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div calss="container my-5">
    <div class='row'>
        <h3>Welcome{{request.user.username|capfirst}}</h3>
    
<div class='col-sm-2 border-end'>
    <ul class='list-unstyled'>
        <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password Done</a></li>
        {% csrf_token %}
    </ul>
</div>
<div class=col-sm-9 offset-sm-1 text-center>
    <h3>Password Change Successfully</h3>
   
</div>
<div>
<img src="{% static 'app/images/banner/check.jpg' %}"
style="width:20%;height:20vh;margin-left:300px;"
 class="img-responsive center-block" allowFullScreen>
</div>
</div>
</div>
</div>
{% endblock main-content %}